



/* This is my first proper css file */

body{
    background-color: #D4AC0D ;
    max-width: 500px;
    margin: auto;
}

h1, h3, p{
    color:rgb(17, 17, 17);
    font-family: 'Roboto', sans-serif;
}

.chart{
    background-color: grey;
    border-width: 1px;
    border-style: groove;
    border-radius: 5px;
    border-color: black;
}

}
